@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(230, 230, 230);
}

.card-white {
  background-color: white;
  width: 750px;
  border-radius: 6px;
  padding: 16px;
  margin: 24px auto;
  text-align: center;
  box-shadow: 0px 0px 4px 5px #0000002b;
}

#avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.button-blue {
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid blue;
  display: block;
  margin: 0 auto;
  width: 25%;
}

.button-blue:hover {
  background-color: white;
  color: blue;
  transition: 1s;
}

.list-inline li {
  display: inline;
}

.list-inline i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 48px;
}

.list-inline i:hover {
  color: black;
}

.list-inline {
  padding: 0;
}

.container {
  display: flex;
}
